:root {
    /*Colores DB ejemplo*/
    --azul-db: #080053;
    --naranja-db: #df7700;

    --titulos: Helvetica;
    --subtitulos: Arial;
    --descripcion: Trebuchet, Arial;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
